<div class="cover-wrapper">

    <!--封面 strt-->
    <cover class="cover  ">

        <h1 class="title">hehear</h1>

        <div class="m_search">
            <form name="searchform" class="form u-search-form">
                <input type="text" class="input u-search-input" placeholder>
                <i class="icon fas fa-search fa-fw"></i>
            </form>
        </div>

        <div class="menu navgation">
            <ul class="h-list">

                <li>
                    <a class="nav home" href="/" id="home">
                        <i class="fas fa-rss fa-fw"></i>&nbsp;博文
                    </a>
                </li>

                <li>
                    <a class="nav home" href="/archives.html" id="archives">
                        <i class="fas fa-archive fa-fw"></i>&nbsp;归档
                    </a>
                </li>

                <li>
                    <a class="nav home" href="/history.html" rel="nofollow" id="history">
                        <i class="fas fa-history fa-fw"></i>&nbsp;版本
                    </a>
                </li>

                <li>
                    <a class="nav home" href="/about.html" rel="nofollow" id="about">
                        <i class="fas fa-info-circle fa-fw"></i>&nbsp;关于
                    </a>
                </li>

            </ul>
        </div>
    </cover>
    <!--封面 end-->

    <!--header 头部导航功能 strt-->
    <header class="l_header pure">
        <div id="loading-bar-wrapper">
            <div id="loading-bar" class="pure"></div>
        </div>

        <div class="wrapper">
            <div class="nav-main container container--flex">
                <a class="logo flat-box" href="/">
                    hehear
                </a>
                <div class="menu navgation">
                    <ul class="h-list">

                        <li>
                            <a class="nav flat-box" href="/" id="home">
                                <i class="fas fa-home fa-fw"></i>&nbsp;HOME
                            </a>
                        </li>

                        <li>
                            <a class="nav flat-box" href="/categories.html" rel="nofollow" id="categories">
                                <i class="fas fa-folder-open fa-fw"></i>&nbsp;分类
                            </a>
                        </li>

                        <li>
                            <a class="nav flat-box" href="/tags/" rel="nofollow" id="tags">
                                <i class="fas fa-hashtag fa-fw"></i>&nbsp;标签
                            </a>
                        </li>

                        <li>
                            <a class="nav flat-box" href="/archives.html" rel="nofollow" id="archives">
                                <i class="fas fa-archive fa-fw"></i>&nbsp;归档
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="m_search">
                    <form name="searchform" class="form u-search-form">
                        <input type="text" class="input u-search-input" placeholder="搜索">
                        <i class="icon fas fa-search fa-fw"></i>
                    </form>
                </div>

                <ul class="switcher h-list">

                    <li class="s-search"><a class="fas fa-search fa-fw" href="javascript:void(0)"></a></li>

                    <li class="s-menu"><a class="fas fa-bars fa-fw" href="javascript:void(0)"></a></li>
                </ul>
            </div>

            <div class="nav-sub container container--flex">
                <a class="logo flat-box"></a>
                <ul class="switcher h-list">
                    <li class="s-comment"><a class="flat-btn fas fa-comments fa-fw" href="javascript:void(0)"></a></li>

                    <li class="s-toc"><a class="flat-btn fas fa-list fa-fw" href="javascript:void(0)"></a></li>

                </ul>
            </div>
        </div>
    </header>
    <!--header 头部导航功能 end-->

    <!--站内导航 strt-->
    <aside class="menu-phone">
        <header>
            <nav class="menu navgation">
                <ul>


                    <li>
                        <a class="nav flat-box" href="/" id="home">
                            <i class="fas fa-home fa-fw"></i>&nbsp;HOME
                        </a>
                    </li>

                    <li>
                        <a class="nav flat-box" href="/archives.html" rel="nofollow" id="archives">
                            <i class="fas fa-archive fa-fw"></i>&nbsp;文章归档
                        </a>
                    </li>

                    <li>
                        <a class="nav flat-box" href="/projects/" id="projects">
                            <i class="fas fa-code-branch fa-fw"></i>&nbsp;开源项目
                        </a>
                    </li>

                    <li>
                        <a class="nav flat-box" href="/friends/" rel="nofollow" id="friends">
                            <i class="fas fa-link fa-fw"></i>&nbsp;我的友链
                        </a>
                    </li>


                    <li>
                        <a class="nav flat-box" href="/about.html" rel="nofollow" id="about">
                            <i class="fas fa-info-circle fa-fw"></i>&nbsp;关于小站
                        </a>
                    </li>


                </ul>
            </nav>
        </header>
    </aside>
    <!--站内导航 end-->
    <script>setLoadingBarProgress(40);</script>

</div>