
<!--公共MD内容编辑框模态框 start-->
<div class="modal fade bs-example-modal-static" id="com_mdModal_temp"
	 aria-hidden="true" data-backdrop="static"
	 aria-labelledby="com_mdModal_temp" role="dialog" tabindex="-1">
	<div class="modal-dialog" style="width:90%;">
		<div class="modal-content">
			<div class="modal-body" id="com_waitModal_content">
				<iframe id="common_md_iframe"  src="common/md" style="min-height: 700px;" width="100%" min-height="700" scrolling="no"  frameborder="0" >

				</iframe>
				<span class="wait_modal_tip"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary com_md_modal_sure_btn">确定</button>
				<button type="button" class="btn btn-primary com_confirm_modal_cancel_btn" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
<!--公共MD内容编辑框模态框 end -->